* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
-Type Selectors
-Class Selectors
-Grouped Selectors
*/

body {
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

.container {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 75%;
}

.hero-img {
    width: 300px;
    height: auto;
}

a,
.hero-secondary-text {
    color: #E5E7EB;
}

header,
.hero-section {
    background-color: #1F2937;
}

.header-logo, 
.hero-main-text {
    color: #F9FAF8
}

