* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
-Type Selectors
    --descendant selectors (if any)
-Class Selectors
-Grouped Selectors
*/

body {
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

nav {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.container {
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 75%;
}

.header-logo {
    color: #FFF;
    font-weight: 900;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
}

.hero-img {
    width: 475px;
    height: auto;
}

a,
.hero-secondary-text {
    color: #E5E7EB;
}

header,
.hero-section {
    background-color: #1F2937;
}

.header-logo, 
.hero-main-text {
    color: #F9FAF8
}
